:root{
    /* ### Primary */

--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);

/* ### Neutral */

--very-pale-blue: hsl(225, 100%, 98%);
--desatured-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    background: url("./images/pattern-background-desktop.svg") no-repeat;
    background-size: contain;
    background-position: top;
    font-family: "Red Hat Display", sans-serif;
    box-sizing: border-box;
}

.main-section .card-picture img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.main-section{
    width: 350px;
    position: relative;
    margin: 4rem auto;
    border-radius: 1rem;
    padding: 0 0 1rem 0;
    background-color: var(--very-pale-blue);
}

.card-content{
    position: relative;
    top: -4px;
    padding: 0 2.2rem;
    /* background-color: green; */
}

#title-paragraph{
    text-align: center;
    margin: 2rem 0;
}

#title-paragraph h1{
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 1rem;
}

.paragraph{
    color: var(--desatured-blue);
    font-size: 13px;
    line-height: 1.2rem;
}

button{
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--bright-blue);
    padding: 0.7rem;
    font-size: 12px;
    font-family: "Red Hat Display";
    box-shadow: 0 10px 15px hsl(209, 55%, 84%);
    text-decoration: none;
    color: var(--very-pale-blue);
}

button:hover{
    background-color: hsl(245, 55%, 52%);
    cursor: pointer;
}



#payment-div, #cancel-div{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1.5rem 0;
    font-size: 12px;
    color: var(--desatured-blue);
    font-weight: 700;
}

#cancel-div a{
    text-decoration: none;
    color: var(--desatured-blue);
}

#cancel-div a:hover{
    color: var(--dark-blue);
    font-weight: 900;
}


#change-div a{
    text-decoration: underline;
    color: var(--bright-blue);
    font-weight: 700;
}

#change-div a:hover{
    text-decoration: none;
    color: hsl(245, 55%, 52%);
}

#price-div, #change-div{
    display: inline-block;
}

#price-div{
    width: 70%;
}

#price-change{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: hsl(207, 39%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#price-change img{
    float: left;
    margin: 0 1rem 0 0;
}

footer{
    margin: 2rem auto;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
}

@media(max-width:460px)
{
    .main-section{
        width: 325px;
        margin: 2rem auto;
    }
}